
        header {
            background-color: #213970;
            text-align: center;
            padding: 1%;
            color: aliceblue;
        }

        html, body {
            scroll-behavior: smooth;
            margin: 0;
            padding: 0;
            background-color: #cbdefe;
            font-family: serif;
            font-size: large;
        }

        footer {
            background-color: #213970;
            text-align: center;
            padding: 1%;
            color: aliceblue;
        }

        .registeration {
            margin-left: auto;
            margin-right: auto;
            width: max-content;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #213970;
        }

        .Directory, .Contactus {
            text-align: center;
        }

        .center {
            margin-top: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }

        .navitem {
            display: inline;
            padding: 45px;
        }

        .navitem a {
            text-decoration: none;
            color: whitesmoke;
        }

        #submit {
            text-align: center;
        }
   
